html {
  height: 100%;
  width: 100%;
}

body{
  background-color:#e3d5ca;
  text-align:center;
  font-family: "Mulish", sans-serif;
  padding:5px;
}

* {box-sizing:border-box;}

#heading {
  line-height:0.4;
}

h1{
  color:#b08968;
  text-align: center;
  font-size:65px;
  font-family: "Rammetto One", sans-serif;
  padding-top: 10px;
  padding-bottom:5px;
}

#buttonHolder{
  background-color: #f5ebe0;
  width: 100%;
  height: 100%;
  z-index:-1;
  border-radius:35px;
  padding: 15px;
  text-align: center;
  border: #917259 thin solid;
}

.madLibsAll {
  width: 600px;
  height: 100px;
  display: inline-block;
  border-radius: 25px;
  margin: 10px;
  border: #917259 thin solid;
  opacity: 0.8;
}

#madLibs1{
  background-color: #73A5c6;
}

#madLibs2{
  background-color: #50b96c;
}

#madLibs3{
  background-color: #C3B1E1;
}

#madLibs4{
  background-color: #ffb8de;
}

#madLibs5{
  background-color: #e8cf7d;
}

#madLibs6{
  background-color:#ecb683;
}

.madLibsAll:hover {
  color: white;
  opacity: 1;
}

.pages {
  background-color: white;
  width: 100%;
  height: 100%;
  padding:10px;
  border-radius: 5px;
}

p {
  line-height: 1.9;
}

button {
  font-family: "Mulish", sans-serif;
  background-color: #f7d1cd;
  padding:4px;
  border-radius: 4px;
  border: gray thin solid;
}